html {
    box-sizing: border-box;
    font-family: sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 5px;
    background-color: #f2f2f2;
    color: #222222;
}

header {
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    a[href^="/log"] {
        grid-column: -2;
        justify-self: end;
    }
    .person-info {
        grid-column: -3;
        justify-self: center;
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.login {
    form {
        margin-bottom: 20px;
        input {
            height: 30px;
        }
    }
}

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    .form-control {
        display: flex;
        flex-direction: column;
        gap: 3px;
        input {
            height: 30px;
        }
    }
    button {
        align-self: center;
        width: 60%;
        height: 40px;
    }
}
.errors {
    padding-left: 0;
    color: red;
}

.error-page {
    h1 {
        margin-bottom: 0;
    }
}

.new-user-msg {
    color: hsl(120, 100%, 30%);
}

nav {
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li:not(:last-child) {
            margin-bottom: 5px;
        }
    }
}

.board {
    display: flex;
    flex-direction: column;
    width: 600px;

    h1 {
        margin-bottom: 15px;
        align-self: center;
    }

    form {
        margin-bottom: 50px;
        align-self: center;
    }

    .message-wrapper {
        background-color: #e8e8e8;
        padding: 8px;
        border-radius: 5px;
        width: 450px;
        max-height: 500px;
        position: relative;
        .delete-message {
            position: absolute;
            top: -6px;
            right: 3px;
            color: red;
            font-size: 2rem;
            cursor: pointer;
            appearance: none;
        }
        &:not(:last-child) {
            margin-bottom: 15px;
        }
        .message {
            h2 {
                margin: 0;
            }
        }
        .details {
            border-top: 1px solid;
            display: flex;
            gap: 20px;
            justify-content: space-between;
        }
        &.own {
            background-color: hsl(240, 50%, 45%);
            color: whitesmoke;
            align-self: flex-end;
        }
    }
}

.h-captcha-terms {
    margin-top: 50px;
    font-size: 0.8rem;
}