html {
    box-sizing: border-box;
    font-family: sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 5px;
    background-color: #f2f2f2;
    color: #222222;
}

header {
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    a[href^="/log"] {
        grid-column: -1;
        justify-self: end;
    }
    .person-info {
        justify-self: center;
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.login {
    form {
        margin-bottom: 20px;
    }
}

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 250px;
        .form-control {
            display: flex;
            flex-direction: column;
            gap: 3px;
            input {
                height: 30px;
            }
        }
        button {
            align-self: center;
            width: 60%;
            height: 40px;
        }
    }
    .errors {
        padding-left: 0;
        color: red;
    }
}

.error-page {
    h1 {
        margin-bottom: 0;
    }
}

.new-user-msg {
    color: hsl(120, 100%, 30%);
}
