<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="theme-color" content="#000000" />
        <link rel="stylesheet" href="/style.css" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <title>Members only</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <% if(user &&!user.member) { %>
                    <li><a href="/join">Join club</a></li>
                    <% } %>
                </ul>
            </nav>
            <% if (user) {%>
            <div class="person-info">
                <div><%= `${user.firstname} ${user.lastname}` %></div>
                <% if(user.member) { %>
                <div>😎 Member</div>
                <% } %> <% if(user.admin) { %>
                <div>⭐ Admin</div>
                <% } %>
            </div>
            <a href="/logout">Log out</a>
            <%} else { %>
            <a href="/login">Log in</a>
            <% } %>
        </header>
        <div class="main">